
from mbt_configurator import MbtConfigurator

DEFAULT_COMPILERS = {
        "gcc": {"CC": "gcc", "CXX": "g++"},
        "clang4": {"CC": "clang-4.0", "CXX": "clang++-4.0"},
        "clang5": {"CC": "clang-5.0", "CXX": "clang++-5.0"},
        "clang6": {"CC": "clang-6.0", "CXX": "clang++-6.0"}
        }

VARIANTS = {
        "debug": "Debug",
        "release": "Release",
        "reldebinfo": "RelWithDebInfo"
        }

DISTROS = ["zesty", "artful"]


def base_config(variant_type):
    return {
            "FEATURE_SET": "community",
            "BUILD_CONFIG": "mysql_release",
            "MYSQL_MAINTAINER_MODE": "ON",
            "CMAKE_BUILD_TYPE": variant_type,
            "CMAKE_INSTALL_PREFIX": "/work/install",
            "WITH_ZLIB": "system",
            "WITH_SSL": "system",
            "ENABLE_DTRACE": "OFF",
            "DOWNLOAD_BOOST": "1",
            "WITH_BOOST": "dep-boost",
            "CMAKE_EXPORT_COMPILE_COMMANDS": "ON",
            }


def configure_mbt():
    conf = MbtConfigurator()

    conf.set_user("Zsolt Parragi", "zsolt.parragi@percona.com")

    conf.add_remote("origin", "git@github.com:dutow/percona-server.git")
    conf.add_remote("percona", "git@github.com:percona/percona-server.git")
    conf.add_remote("mysql", "https://github.com/mysql/mysql-server.git")

    conf.add_series("5.5")
    conf.add_series("5.6")
    conf.add_series("5.7")

    for distro in DISTROS:
        for comp_name, comp_env in DEFAULT_COMPILERS.items():
            for variant_name, variant_type in VARIANTS.items():
                base_conf = base_config(variant_type)
                conf.add_build_config(distro+"-"+variant_name+"-"+comp_name,
                                      "dutow/mbt-ubuntu-"+distro,
                                      comp_env,
                                      base_conf
                                      )
                if "clang" in comp_name:
                    conf.add_build_config(
                            distro+"-"+variant_name+"-"+comp_name+"-msan",
                            "dutow/mbt-ubuntu-"+distro+"-msan",
                            comp_env,
                            {**base_conf,
                                "WITH_SSL": "bundled",
                                "WITH_ZLIB": "bundled",
                                "WITH_MSAN": "ON",
                                "MYSQL_MAINTAINER_MODE": "OFF"
                             })

    return conf
